<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 是mapper文件的全路径-->
<mapper namespace="com.example.demo.mapper.MusicTestMapper">
    <!-- public MybatisTestBean getMybatisTest(int id); -->
    <!-- id 是方法名 -->
    <!-- 1. ( resultType ) 是方法的 ( 返回值 ) 类型，通过 copy path => copy reference 可以快速生成 -->
    <!-- 2. ( parameterType ) ( 参数 ) 类型-->
    <!-- 3. resultType  只用于 select -->
    <!-- 4. parameterType 用于 insert delete update-->

    <!--注意：resultType是bean对象时，要写bean对象的全路径-->
    <!--注意：resultType当查找的数据库返回的是一个List<Map>时，不能写List，而是Map，其他类型类似-->
    <select id="getMusicList" resultType="com.example.demo.bean.MusicTestBean">
        select * from music
        where
            name like CONCAT('%',#{searchKey},'%') or
            album like CONCAT('%',#{searchKey},'%') or
            singer like CONCAT('%',#{searchKey},'%')
        limit #{offset},#{pageSize}
    </select>


    <!-- resultMap 设置返回值的类型和映射关系 -->
    <!-- 教程 https://blog.csdn.net/magi1201/article/details/85342099 -->
    <!--    <resultMap id="MusicMap" type="com.example.demo.map">-->
    <!--    <id property="id" column="id"/>-->
    <!--    <result property="nameOne" column="name"/>-->
    <!--    </resultMap>-->
    <select id="getAllMusicList" resultType="Long" resultMap="musicMap">
        select count(*) from music
    </select>


    <insert id="addMusicList" parameterType="Map">
        insert into music
        (name, album, singer, startTime, endTime)
        values
        (#{name}, #{album}, #{singer}, #{startTime}, #{endTime})
    </insert>

    <delete id="deleteMusic" parameterType="Integer">
        delete from music where id = #{id}
    </delete>

    <update id="editMusic" parameterType="Map">
        update music
        set name=#{name}, album=#{album}, singer=#{singer}, startTime=#{startTime}, endTime=#{endTime}
        where id=#{id}
    </update>
</mapper>