<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 是mapper文件的全路径-->
<mapper namespace="com.example.demo.mapper.TransactionMapper">
    <insert id="insertGoods" parameterType="Map">
        insert into goods
        (name, price)
        values
        (#{name}, #{price})
    </insert>

    <!--注意：resultType是bean对象时，要写bean对象的全路径-->
    <!--注意：resultType当查找的数据库返回的是一个List<Map>时，不能写List，而是Map，其他类型类似-->
    <select id="getGoods" resultType="com.example.demo.bean.TransactionBean">
        select * from goods
    </select>
</mapper>